{% extends 'layout/layout' %}

{% do headTitle('__404_title') %}

{% block content %}
    <h1>{{ translate('__404_title') }}</h1>
    <p>{{ translate('__404_description')|replace({'%home_url%': url('home')})|raw }}</p>
{% endblock %}
